body{
    background-color: rgb(186, 255, 255);
}
#img
{
    border-radius: 90%;
    height: 460px;
    width: 461px;
    
}
#gh{
   
        display: block;
        margin-top: 0em;
        margin-block-end: 1em;

}
h1{
    text-align: center;
    background-color: rgb(165, 165, 245);
    padding-bottom: 10px;
    letter-spacing: 2px;
    font-family: 'Special Elite', cursive;

}
.copy_right_footer{
    position: fixed;
    color: #6c757d;
    bottom: 0%;
    width: 100%;
    font-size: 18px;
    background-color: #f5f5f5;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151,149,149);
}

#start{
    width: 100px;
    height: 50px;
    background-color: rgb(165, 165, 245);
    
}
